<div class="container">
    <h1>View Schedule</h1>
  
    <a href="#" routerLink="../schedules" class="btn btn-primary">Back</a>
   
    <div><strong>FlightNumber:</strong>
        <p>{{schedule.flightNumber}}</p>
    </div>
   
    <div><strong>Airline:</strong>
        <p>{{schedule.airline}}</p>
    </div>
   
    <div><strong>FromPlace:</strong>
        <p>{{schedule.fromPlace}}</p>
    </div>
    <div><strong>ToPlace:</strong>
        <p>{{schedule.toPlace}}</p>
    </div>
   
    <div><strong>StartDateTime:</strong>
        <p>{{schedule.startDateTime}}</p>
    </div>
   
    <div><strong>EndDateTime:</strong>
        <p>{{schedule.endDateTime}}</p>
    </div>
    <div><strong>ScheduledDays:</strong>
        <p>{{schedule.scheduledDays}}</p>
    </div>
   
    <div><strong>InstrumentUsed:</strong>
        <p>{{schedule.instrumentUsed}}</p>
    </div>
   
    <div><strong>TotalBCSeats:</strong>
        <p>{{schedule.totalBCSeats}}</p>
    </div>
    <div><strong>TotalNBCSeats:</strong>
        <p>{{schedule.totalNBCSeats}}</p>
    </div>
   
    <div><strong>BCost:</strong>
        <p>{{schedule.bCost}}</p>
    </div>
   
    <div><strong>NCost:</strong>
        <p>{{schedule.nCost}}</p>
    </div>

    <div><strong>NoOfRows:</strong>
        <p>{{schedule.noOfRows}}</p>
    </div>
   
    <div><strong>MealsType:</strong>
        <p>{{schedule.mealsType}}</p>
    </div>
</div>
