<div class="container">
    <h1>List of Search Results</h1>
    <table class="table table-bordered ">
      <tr>
        <th>Flight Number</th>
        <th>Airline</th>
        <th>From </th>
        <th>To </th>
        <th>Date </th>
        <th>Business ticket cost </th>
        <th>Normal ticket cost </th>
        <th width="220px">Action</th>
      </tr>
      <!-- <tr *ngFor="let flight of flight">
          <td>{{ flight.flightnumber }}</td>
          <td>{{ flight.airline }}</td>
          <td>{{ flight.fromplace }}</td>
          <td>{{ flight.toPlace }}</td>
          <td> -->
      <tr>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
  
        <td>
  
         
          <a href="#" routerLink="../bookticket/" class="btn btn-info">Book</a>
        </td>
      </tr>
      <tr>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
  
        <td>

          <a href="#" routerLink="../bookticket/" class="btn btn-info">Book</a>
        </td>
      </tr>
      <tr>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>
          <a href="#" routerLink="../bookticket/" class="btn btn-info">Book</a>
        </td>
      </tr>
      <tr>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>
          <a href="#" routerLink="../bookticket/" class="btn btn-info">Book</a>
        </td>
      </tr>
      <tr>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
        <td>1223</td>
  
        <td>
  
          <a href="#" routerLink="../bookticket/" class="btn btn-info">Book</a>
        </td>
      </tr>
    </table>
  </div>