<div class="container">
    <h1>View Airlines</h1>

    <a href="#" routerLink="../airlines" class="btn btn-primary">Back</a>

    <div>
        <strong>Logo:</strong>
        <p>{{airline.logo}}</p>
    </div>

    <div>
        <strong>Airline Name:</strong>
        <p>{{airline.name}}</p>
    </div>

    <div>
        <strong>Contact Address:</strong>
        <p>{{airline.contactAddress}}</p>
    </div>
    <div>
        <strong>Contact Number:</strong>
        <p>{{airline.contactNumber}}</p>
    </div>
</div>